<style>
  img {
    width: 100px;
    height: 100px;

  }
</style>
<div>
  <% if (notEmpty){ %>
  <table>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Thumbnail</th>
    </tr>
    <% for( prod of productList){ %>
    <tr>
      <td><%= prod.title %></td>
      <td><%= prod.price %></td>
      <td><img src=<%= prod.thumbnail %> alt="" srcset=""></td>
    </tr>
    <% } %>
  </table>
  <% } else {%>
  <b>No hay productos que mostrar</b>
  <% } %>
</div>