<h2>Get products with limit</h2>
<form action="/products" method="get">
    <input type="number" name="limit" id="inputLimiter" required min="1" placeholder="Min:1">
    <input type="submit" value="Search">
</form>