    <h2>Productos ingresados</h2>
<div>
    {{#if notEmpty }}
    <table>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Thumbnail</th>
        </tr>
        {{#each productList}}
        <tr>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{thumbnail}}</td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <b>No hay productos cargados</b>
    {{/if}}
</div>