block form
    h2 Ingrese los campos del producto
    div 
        form(action='/products' method='post') 
            input(type='text' name='title' id='title' placeholder='title') 
            input(type='number' name='price' id='price' placeholder='price') 
            input(type='text' name='thumbnail' id='thumbnail' placeholder='thumbnail') 
            input(type='submit' value='Create' )

