<div>
    {{>actions}}
    <ul>
        <li>{{>carts/allCarts}}</li>
        <li>{{>carts/createCart}}</li>
        <li>{{>carts/addProductToCart}}</li>
    </ul>
    {{>back}}
</div>
<script type="text/javascript" src="js/{{addProductHandler}}.js"></script>