<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" type='text/css'>
    <title>Available routes</title>
</head>

<body>
    <div>
        {{>actions}}
        <div class="actionsContainer">
            <h2><a href="/productActions">Products</a></h2>
            <h2><a href="/cartActions">Carts</a></h2>
            <h2><a href="/currentProducts">Current products</a></h2>
            <h2><a href="/login">User login</a></h2>
            <h2><a href="/sessions/logout">User logout</a></h2>

            

        </div>
</body>

</html>