<div>
    {{>actions}}
    <ul>
        <li>{{>products/allProducts}}</li>
        <li>{{>products/productsWithLimit}}</li>
        <li>{{>products/productById}}</li>
        <li>{{>products/addProduct}}</li>
    </ul>
    {{>back}}
</div>