<h2>Create new product</h2>
<form id="createProductForm" class="multilineForm" >
    <input type="text" name="title" placeholder="Title" required>
    <input type="number" name="code" placeholder="Code" required>
    <input type="number" name="price" placeholder="Price" required>
    <input type="number" name="stock" placeholder="Stock" required>
    <input type="text" name="description" placeholder="Description" required>
    <input type="text" name="thumbnail" placeholder="Thumbnail" required>
    <input type="submit" value="Submit" >
</form>