<h2>Get product by ID</h2>
<form action="/products" method="post">
    <input type="number" name="productId" id="productId" required min="1" placeholder="Min:1">
    <input type="submit" value="Search">
</form>