<h2>Get product by ID</h2>
<form action="/products" method="post">
    <input type="text" name="productId" id="productId" required  placeholder="Product object id">
    <input type="submit" value="Search">
</form>