
h2 Productos ingresados
div
    -if (notEmpty)
        table 
            tr 
                th Title
                th Price
                th Thumbnail

            each product in productList
                tr 
                    td #{product.title}
                    td #{product.price}
                    td #{product.thumbnail}



    -else 
        b No hay productos cargados

