<div>
    {{>actions}}
    <ul>
        {{#unless admin}}
        <li>{{>users/deleteAccount}}</li>
        {{/unless}}
        {{#if admin}}
        <li>{{>users/deleteInactive}}</li>
        <li>{{>users/deleteUserById}}</li>
        {{/if}}
    </ul>
    {{>back}}
</div>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script type="text/javascript" src="js/{{socketHandler}}.js"></script> --}}
<script type="text/javascript" src="js/{{deleteUsers}}.js"></script>