<h2>Add product to cart</h2>

<form  id="updateCartForm">
    <input id="productIdToAdd" type="text" name="productIdToAdd" required placeholder="Cart Object ID">
    <input id="cartToUpdate" type="text" name="cartToUpdate" required placeholder="Product Object ID">
    <input id="prodQuantity" type="number" name="prodQuantity" placeholder="Product quantity. Leave blank to add one">
    <input id="updateCart" type="submit" value="Update Cart">
</form>
