<h2>Add product to cart</h2>

<form  id="updateCartForm">
    <input id="productIdToAdd" type="number" name="productIdToAdd" placeholder="productIdToAdd" required min="1">
    <input id="cartToUpdate" type="number" name="cartToUpdate" placeholder="cartToUpdate" required min="1">
    <input id="updateCart" type="submit" value="Update Cart">
</form>
