<form method="post" action="/sessions/login">
    <input type="text" name="email" placeholder="email" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit" value="Login">
</form>