<h1>server</h1>
<form id="testForm" action="/" method="post">
    <input id="content" type="text">
    <input type="submit" value="Submit">
</form>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/index.js"></script>