<form method="post" action="/user/login">
    <input type="email" name="email" placeholder="email" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit" value="Login">
</form>