<form method="post" action="/user/register">
    <input type="text" name="first_name" placeholder="first_name" id="">
    <input type="text" name="last_name" placeholder="last_name" id="">
    <input type="email" name="email" placeholder="email" id="">
    <input type="number" name="age" placeholder="age" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit" value="Register">
</form>